ultralytics==8.4.150
lap==0.5.13
opencv-python==5.0.0.93
scenedetect==0.7.1
numpy==2.5.3
scipy==1.18.1
matplotlib==3.11.2
tqdm==4.70.1
ipykernel==7.3.0
jupyterlab==4.6.3
ipywidgets==8.1.9
ipyevents==2.0.4
ipympl==0.10.0
ipycanvas==0.14.3
orjson==3.12.0
insightface==2.0
onnxruntime-gpu==1.30.0
scikit-learn==1.9.1
pandas==3.0.5
pytest==9.1.1
